.name {
    font-size: 20px;
    font-weight: 600;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    box-sizing: border-box;
}

.tooltip:hover {
    border: 4px solid gold;
}

.tooltip .tooltiptext {
    border: 4px solid gold;
    box-sizing: border-box;
    display: inline;
    font-size: 16px;
    visibility: hidden;
    width: 192px;
    background-color: #483c3c;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;

    left: 50%;
    margin-left: -96px;
    /*bottom: 120%;*/
    /*top: 120%;*/
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}