table {
    border: 1px solid green;
}

.uniqueTradeRow {
    border: 1px solid green;
}

.uniqueTrade-give {
    display: flex;
    flex-direction: row;
    border: 1px solid red;

    font-size: smaller;
}
.uniqueTrade-receive {
    display: flex;
    flex-direction: row;
    border: 1px solid red;

    font-size: smaller;
}