.Game {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: white;

    /*padding: 20px;*/
    padding: 0 20px;
}